.ChartWrapper {
  position: relative;;
  width: 48%;
  flex: 1 0 auto;
  margin-right: 5px;
  background-color: white;
  text-align: center;
}

.ChartWrapper h3{
  background-color: #F27390;
  margin: 0px;
  padding: 5px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.svgWrapper{
  background-color: white;
}

.gridx *{
    stroke: lightgrey;
    opacity: 1;
}

.axis {

}

.legend {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 20px;
  font-size: 20px;
}

.legend span {
  vertical-align: top;
}

.box {
  display: inline-block;
  width:20px;
  height: 20px;
  margin-right: 5px;
}

@media only screen and (max-width: 656px) {
  .ChartWrapper {
    width: 100%;
  }
}
